* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

body {
  background-color: #f6f2e5;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  z-index: 100;
}
nav {
  display: flex;
  align-items: center;
  overflow-x: auto;
}
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 50px;
}
.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}
.menu a {
  display: block;
  padding: 30px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  color: #f6623d;
  font-family: "Assistant", sans-serif;
  font-weight: 100;
  cursor: pointer;
}
.menu a:hover {
  line-height: 50%;
}
.logo img {
  width: 70px;
}
.logo {
  margin-right: auto; /* for at flytte logoet helt til venstre*/
  margin-left: 2%;
  margin-top: 1%;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.burger .line {
  width: 100%;
  height: 2px;
  background-color: #ff7553;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    margin-right: 20px;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  nav.active .menu {
    display: block;
    background-color: #f6f2e5;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  nav.active .menu li {
    margin: 10px 20px;
  }
  nav.active .menu a {
    font-size: 3cqw;
  }
  .icon-container {
    margin-right: 10%;
  }
  .logo img {
    width: 40px;
  }
}
